* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --default:#1d0dad;
}

header {
    display: flex;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.high-score {
    margin: 0 0 0 20px;
    font-size: 20px;
}

.high-score a {
    text-decoration: none;
}

.content {
    text-align: center;
    padding-top: 100px;
}

#timer {
    display: flex;
    position: absolute;
    right: 0;
    margin: 0 50px 0 0;
    padding: 10px 5px;
    font-size: 20px;
    color: var(--default);
}
